<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>Super Sprinter 3000</title>
</head>
<body>
<h2>Super Sprinter 3000</h2>
<form action='story'>
<input type='submit' value='Add a new user story' />
</form>
<p>
<table>
<tr>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
</tr>
<tr>
<th>|</th>
<th>ID</th>
<th>|</th>
<th>Story</th>
<th>|</th>
<th>User Story</th>
<th>|</th>
<th>Acceptance Criteria</th>
<th>|</th>
<th>Business Value</th>
<th>|</th>
<th>Estimation</th>
<th>|</th>
<th>Status</th>
<th>|</th>
</tr>
<tr>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
</tr>
<tr>
<th>|</th>
<th>5</th>
<th>|</th>
<th>kk</th>
<th>|</th>
<th>kkkk</th>
<th>|</th>
<th>kkkkk</th>
<th>|</th>
<th>100</th>
<th>|</th>
<th>0.5</th>
<th>|</th>
<th>Planning</th>
<th>|</th>
<th><a href='story/5'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/5'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>6</th>
<th>|</th>
<th>jk</th>
<th>|</th>
<th>kkkkk</th>
<th>|</th>
<th>kkkkk</th>
<th>|</th>
<th>100</th>
<th>|</th>
<th>0.5</th>
<th>|</th>
<th>Planning</th>
<th>|</th>
<th><a href='story/6'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/6'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>7</th>
<th>|</th>
<th>op</th>
<th>|</th>
<th>op</th>
<th>|</th>
<th>op</th>
<th>|</th>
<th>100</th>
<th>|</th>
<th>0.5</th>
<th>|</th>
<th>Planning</th>
<th>|</th>
<th><a href='story/7'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/7'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>8</th>
<th>|</th>
<th>Forth</th>
<th>|</th>
<th>Many many </th>
<th>|</th>
<th>All </th>
<th>|</th>
<th>300</th>
<th>|</th>
<th>3.0</th>
<th>|</th>
<th>To Do</th>
<th>|</th>
<th><a href='story/8'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/8'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>9</th>
<th>|</th>
<th>10.</th>
<th>|</th>
<th>Leguccso </th>
<th>|</th>
<th>ElfogADJUK </th>
<th>|</th>
<th>400</th>
<th>|</th>
<th>3.5</th>
<th>|</th>
<th>Done</th>
<th>|</th>
<th><a href='story/9'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/9'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>10</th>
<th>|</th>
<th>10.</th>
<th>|</th>
<th>Leguccso </th>
<th>|</th>
<th>ElfogADJUK </th>
<th>|</th>
<th>400</th>
<th>|</th>
<th>3.5</th>
<th>|</th>
<th>Done</th>
<th>|</th>
<th><a href='story/10'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/10'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>22</th>
<th>|</th>
<th>hj</th>
<th>|</th>
<th>hjhj</th>
<th>|</th>
<th>hjhjhjh</th>
<th>|</th>
<th>100</th>
<th>|</th>
<th>0.5</th>
<th>|</th>
<th>Planning</th>
<th>|</th>
<th><a href='story/22'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/22'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>1</th>
<th>|</th>
<th>First</th>
<th>|</th>
<th>Tryí</th>
<th>|</th>
<th>Passed</th>
<th>|</th>
<th>900</th>
<th>|</th>
<th>2.0</th>
<th>|</th>
<th>Review</th>
<th>|</th>
<th><a href='story/1'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/1'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>4</th>
<th>|</th>
<th>k</th>
<th>|</th>
<th>kkk</th>
<th>|</th>
<th>kkkk</th>
<th>|</th>
<th>100</th>
<th>|</th>
<th>1.5</th>
<th>|</th>
<th>Planning</th>
<th>|</th>
<th><a href='story/4'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/4'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>|</th>
<th>23</th>
<th>|</th>
<th>Sokadik</th>
<th>|</th>
<th>Sok sok sok</th>
<th>|</th>
<th>Elfogajuk?</th>
<th>|</th>
<th>900</th>
<th>|</th>
<th>5.0</th>
<th>|</th>
<th>Review</th>
<th>|</th>
<th><a href='story/23'><img src='quill.gif' alt='pen' height='15' width='15'/></a></th>
<th><a href='delete/23'><img src='bin.jpg' alt='bin' height='15' width='15'/></a></th>
</tr>
<tr>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
<th>-------------</th>
<th>-</th>
</tr>
</table>
</p>
</body>
</html>
